body {
  background: #FFF5F5;
}
.Firstname {
  position: absolute;
  bottom: 91%;



}

.Age {
  position: absolute;
  left: 18%;
  bottom: 91%;
}

.LastName {
  position: absolute;
  bottom: 83%;
}
#save {
  color: white;
  background-color: black;
  border-radius: 4px;
  border: none;
}

.Search {
  position: absolute;
  bottom: 73%;
}

#usertable {
  color: black;
  display: flex;
  font-size: 14px;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 8px;
  position: absolute;
  border-radius: 10px;
  left: 2%;
  top: 35%;
  width: 95%;
  /*height: 5%;*/
  background-color: #D3D3D3;
}

#names{
  position: absolute;
  padding-left: 15px;
  padding-right: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  left: 2%;
  top: 29%;
  width: 95%;
  display: flex;
  font-size: 14px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D3D3D3;
  color: aliceblue;
}

#i {
  display: flex;
  flex-direction: column;
  /*background-color: darkgray;*/
  width: 18%;
}

#f {
  position: absolute;
  left: 18%;
  display: flex;
  flex-direction: column;
  /*background-color: darkgray;*/
  width: 20%;
}

#l {
  position: absolute;
  left: 38%;
  display: flex;
  flex-direction: column;
  width: 25%;
}

#a {
  position: absolute;
  left: 59%;
  display: flex;
  flex-direction: column;

  width: 20%;
}

#is {
  position: absolute;
  left: 77%;
  display: flex;
  flex-direction: column;
  width: 18%;
}
p {
  border-bottom: 3px solid yellow;
  width: 103%;
}
button{
border: aliceblue;
  background: none;
  font-size: 16px;
}


#d {
  display: flex;
  flex-direction: column;
}

#del button{
  margin: 12px 0;
}

